$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 28px;
$hamburger-layer-height        : 1px;
$hamburger-layer-spacing       : 7px;
$hamburger-layer-color         : #fff;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.55;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;